#sitebody{}
#up{
color:#642100;font-size:25px;
background-color:#FFB5B5;
text-align:center;
height:80px;
line-height:80px;
}
#sidebar_left{
color:#642100;font-size:25px;
background-color:#FFDCB9;
width:120px;
height:400px;
text-align:center;
line-height:400px;
float:left;
}
#sidebar_right{
color:#642100;font-size:25px;
background-color:#FFDCB9;
width:120px;
height:400px;
text-align:center;
line-height:400px;
float:right;
}
#middle{
color:#642100;font-size:25px;
margin-left:120px;margin-right:120px;
height:400px;
background-color:#F2FFF2;
text-align:center;
line-height:400px;
}
#down{
color:#642100;font-size:25px;
background-color:#FFB5B5;
height:80px;
text-align:center;
line-height:80px;
}

